*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-size: 15px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}